body {
	background: rgb(245,245,245);
	color: rgb(50,50,50);
	font-family: "Raleway Light", "Arial";
	font-size: 18px;
	line-height: 29px;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	font-family: "Aleo Bold";
	margin: 0;
	padding: 0;
}

h2 {
	padding: 0 0 1em 0;
	text-align: center;
	width: 100%;
}

a {
	color: rgb(219,115,114);
}

.icon {
	width: 5em;
}

.nav {
	background: rgb(219,84,80);
	color: rgb(200,200,200);
	padding: .75em 0;
	text-align: center;
}

.nav a {
	color: white;
	font-family: "Raleway Light", "Arial";
	font-size: 1.2em;
	margin: 0 1em;
	text-decoration: none;
}

.nav a:hover {
	text-decoration: underline;
}

.footer {
	background: rgb(50,50,50);
	color: rgb(255,255,255);
	padding: .5em 0;
	text-align: center;
}

.hero {
	background: rgb(50,50,50);
	color: rgb(255,255,255);
	display: table;
	padding: 3em 0;
	width: 100%;
}

.hero-content {
	margin: 0 auto;
	width: 60%;
}

.headshot {
	border-radius: 50%;
	float: left;
	margin-right: 3em;
	shape-outside: circle();
	width: 12em;
}

.intro {
	font-size: 1.25em;
}

.section {
	border-bottom: 1px dotted rgb(205,205,205);
	margin: 0 auto;
	padding: 4em 1em;
	text-align: center;
}

.section.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	text-align: left;
}

.section.dark {
	background: rgb(50,50,50);
	color: rgb(255,255,255);
}

.item {
	width: 300px;
	border-bottom: 1px solid rgb(200,200,200);
	margin: 1em;
	padding: 0 0 1.5em 0;
}

.post {
	border-bottom: 1px solid rgb(200,200,200);
	margin: 1.75em auto;
	max-width: 650px;
	padding: 0 0 1.5em 0;
	text-align: left;
}

.post .date {
	color: rgb(135,135,135);
}

.post-full {
	margin: 2em auto 6em;
	max-width: 850px;
	padding: 0;
	text-align: left;
}

.post-full h2 {
	padding-bottom: 0;
	text-align: left;
}

.post-date {
	color: rgb(135,135,135);
	font-style: italic;
}

@media (max-width: 913px) {

	body {
		font-size: 16px;
	}

	h1 {
		font-size: 1.65em;
	}

	.icon {
		width: 4.25em;
	}

	.nav a {
		margin: 0 .4em;
	}

	.hero-content {
		text-align: center;
		width: 90%;
	}

	.headshot {
		float: none;
		margin: 0 0 1.5em 0;
	}

	.post-full {
		padding: 0 1em;
	}
}
