---
pending_conferences:
  - name: Web Directions Code
    details: July 28-29, Sydney
    website: http://www.webdirections.org/code16/
  - name: Web Directions Code
    details: August 1-2, 2016, Melbourne
    website: http://www.webdirections.org/code16/
upcoming_conferences:
  - name: Web Unleashed
    details: October 3-4, Toronto
    website: http://fitc.ca/event/webu16/
past_conferences:
  - name: Render Conf
    details: April 2016, Oxford
    website: http://2016.render-conf.com/
  - name: O'Reilly Fluent Conf
    details: March 2016, San Francisco
    website: http://conferences.oreilly.com/fluent/javascript-html-us
  - name: Sass Summit 2015
    details: November 2015, Virtual
    website: http://environmentsforhumans.com/2015/sass-summit/
  - name: UpFront Conf
    details: May 2015, Manchester City
    website: http://2015.upfrontconf.com/
  - name: Javascript Summit
    details: February 2015, Virtual
    website: http://environmentsforhumans.com/2015/javascript-summit/
  - name: CSS Dev Conf
    details: October 2014, New Orleans
    website: http://2014.cssdevconf.com/
---

<div class="section flex">
  <h2>I love talking about front-end development.</h2>
  <p>My whole career has been a love fest with the front-end world, and I will gladly talk about any aspect of development with anyone who will listen. Specifically, here are some talks I'm giving now or have given in the past.</p>

  <div>
    <h3>The Landscape of Front-End Testing</h3>
    <p>You may have heard developers say that testing your code is a best practice. But what kinds of testing are they talking about? From unit and acceptance testings, to code linting, visual regression testing and more, it may be difficult to sort out which kind of testing is right for your team or project.</p>
  </div>

  <div>
    <h3>Building Up Without Burning Out</h3>
    <p>Our industry flaunts burnout like some bizarre badge of honor. Many believe it’s the only way to prove you’re dedicated to your trade, or that advancing your technical knowledge can only be achieved by living with little sleep and ignoring other responsibilities. It’s what creates bias towards those who have families, other hobbies, or even those with mental issues who need time for self care.  So how do you advance your development knowledge without wearing yourself out?</p>
  </div>

  <div>
    <h3>Front-End Developers Can Make Games, Too!</h3>
    <p>We’ve seen front-end technologies advance in ways that have opened a world of possibilities for building websites and applications. But what happens when we take these technologies and use them for something different – something like building games? Most developers are focusing on using canvas to build games, but let’s think outside of that box for a bit. How can we leverage the latest and greatest of CSS3, along with with a powerful tool like a CSS-preprocessor, to build games using nothing more than CSS, JS, and HTML? And why would you even want to do that? This talk will walk through how to utilize different parts of the web development stack to make their own games, as well as discuss why it’s important to bring games to the web.</p>
  </div>
</div>

<div class="section flex">
  <%= partial(:conferences, :locals => { :heading => "Upcoming Conferences", :conferences => current_page.data.upcoming_conferences }) %>
  <div class="item">
    <h3>Want me to speak at your conference?</h3>
    <span><a href="mailto:aliciasedlock@gmail.com?subject=Speaking%20Opportunity">Get in touch!</a></span>
  </div>
</div>

<div class="section flex">
  <%= partial(:conferences, :locals => { :heading => "Past Conferences", :conferences => current_page.data.past_conferences }) %>
</div>
